@model List<CategoryDto>
<div >
    <button style="padding: 10px; margin: 20px; width: 100px"><a href="/Category">List</a></button>
    <button style="padding: 10px; margin-right: auto; width: 100px"><a href="/Category/Create">Create</a></button>
</div>
<hr>
<h2 class="text-center">The list of Categories</h2>
<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Category Name</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var cateogry in Model)
    {
        <tr>
            <th scope="row">@cateogry.Id</th>
            <td>@cateogry.CategoryName</td>
            <td><a href="/Category/Update/@cateogry.Id">Edit</a></td>
            <td><a href="/Category/Delete/@cateogry.Id">Delete</a></td>
        </tr>
    }
    
    </tbody>
</table>