@model CategoryDto


<div style=" border: 2px solid #1e2125; width: 40%; margin: auto; background-color: #0d6efd; border-radius: 10px; height: 200px; padding-top: 20px; margin-top: 200px" >
    <form action="Create" method="post" style="margin: auto">
            <input type="number" hidden="hidden" asp-for="Id"/>
            <h4 style="text-align: center">Category Name</h4><br>
        <input type="text" asp-for="CategoryName" style="width: 300px; height: 50px; border-radius: 5px; margin-left: 70px "/> <span class="text-danger" asp-validation-for="CategoryName"></span>
        <button type="submit" style="width: 70px; background-color: red; color: white; font-weight: bold; height: 52px; border-radius: 5px; ">Update</button>
    </form>
</div>